form {  
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	margin: 0 auto;
}
#chat { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#chat li { 
	padding: 5px 10px; 
}
#chat li:nth-child(odd) { 
	background: #eee; 
}