body {
	height: 100%;
}
form {  
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	margin: 0 auto;
}
#chat { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow-y: auto;
	height: 30%;
	overflow-x: hidden;
}
#chat li { 
	padding: 5px 10px; 
}
#chat li:nth-child(odd) { 
	background: #eee; 
}
i {
	position: fixed !important;
	top: 5px !important;
	right: 5px !important;
	font-size: 1.5em;
}